[submodule "src/icons/ant-design-icons"]
	path = src/icons/ant-design-icons
	url = https://github.com/ant-design/ant-design-icons.git
[submodule "src/icons/weather-icons"]
	path = src/icons/weather-icons
	url = https://github.com/erikflowers/weather-icons.git
