.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
tmp
.vscode

// THIS PART IS AUTO GENERATED
src/lib/ai/**
src/lib/fa/**
src/lib/wi/**
src/lib/fi/**
src/lib/vsc/**
src/lib/bs/**
src/lib/bi/**
src/lib/im/**
src/lib/io/**
src/lib/ri/**
src/lib/si/**
src/lib/ti/**
src/lib/hi/**
src/lib/cg/**
